$font-Bitter: "Bitter", serif;
    
$font-Open_sans: "Open Sans", sans-serif;

$purple: #5231FF;

@mixin btn_hover{
    background-color: #8179ee;
}

%btn_link{
    background-color: $purple;
    border-radius: 5px;
    border: none;
    font-size: 9px;
    width: 120px;
    height: 28px;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

%text{
    font-family: $font-Open_sans;
    font-size: 15px;
    line-height: 20px;
    color: #7C8499;
}

body{
    
    h1, h2, h3, h4, h5{
        font-family: $font-Bitter;
        margin: 0px;
        padding: 0px;
    }

    width: 100%;
    max-width: 1440px;
    margin: auto;

    a{
        text-decoration: none;
        color: black;
        display: block;
    }

    a:visited{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    ul{
        list-style: none;
    }
}

.active{
    color: $purple;
}

.wrapper{
    margin: 0 auto;
}

.container{
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;

    ul{
        display: flex;
        flex-direction: row; 
        gap: 42px;
        padding-top: 28px;
    }

    li:hover>a{
        color: $purple;
    }
}

.header__logotype-link{
    margin-left: 120px;
    margin-top: 20px;
}

.header__nav{
    margin-left: 418px;
    font-family: $font-Bitter;
    font-size: 14px;
}

.facebookIcon{
    width: 36px;
    height: 36px;
}

.header__facebookIcon-link{
    margin-top: 31px;
    margin-left: 18px;

    svg:hover{
        border: transparent 1px solid;
    }
}

.mainPortfolio__title{
    text-align: center;
    padding-top: 95px;
}

.title-small{
    font-size: 16px;
}

.title-big{
    font-size: 40px;
}

.mainPortfolio__title-big{
    margin-top: 10px;
    margin-bottom: 55px;
}


.mainPortfolio__cards{
    margin-left: 110px;
    display: grid;
    grid-template-columns: 610px 610px;
    grid-template-rows: repeat(6, auto);

    :nth-child(1){
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        align-items: center;
    }

    :nth-child(3){
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        align-items: center;
    }

    :nth-child(4){
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
        align-items: center;
    }

    :nth-child(5){
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        align-items: center;     
    }
    
    .mainPortfolio__cards-item{
        text-align: center;
        color: #fff;

        a{
            @extend %btn_link;
        }
        

        a:hover{
            @include btn_hover;
        }
    }

    .mainPortfolio__cards-img{
        display: flex;
        justify-content: center;
    
        img{
            margin-top: 20px;
            margin-bottom: 36px;
        }
    }  
}

.facts__title{
    text-align: center;
    padding-top: 150px;

    .facts__title-big{
        width: 550px;
        margin: 12px auto;
        line-height: 54px;
    }
}

.facts__cards{
    display: flex;
    padding-top: 54px;
    justify-content: center;
    gap: 200px;

    .facts__cards-item{
        display: flex;
        flex-direction: column;
        align-items: center;

        svg{
            margin-bottom: 20px;
        }
    }
}

.facts__line{
    svg{
        margin-top: 87px;
        margin-left: 85px;
    }
}

.explore{
    display: flex;
    gap: 128px;

    .explore__title{
        padding-top: 80px;
        padding-left: 121px;

        h3{
            margin-top: 20px;
            font-size: 25px;
        }

        .explore__text{
            @extend %text;
            display: block;
            margin-top: 27px;
            width: 382px;
        }

        .explore-link{
            width: 151px;
            height: 50px;
            margin-top: 42px;
            border-radius: 25px;
            background-color: $purple;
            color: #fff;
            text-align: center;
            align-content: center;
            font-size: 12px;
        }

        .explore-link:hover{
            @include btn_hover;
        }
    }

    .explore__tags{
        display: grid;
        grid-template-columns: repeat(3, 219px);
        grid-template-rows: repeat(4, 55px);
        text-align: center;
        gap: 3px;
        padding-top: 74px;
        padding-bottom: 123px;
        
        .explore__tags-link{
            border: 1px lightgrey solid;
            border-radius: 8px;
            font-size: 14px;
            align-content: center;
        }

        .explore__tags-link:hover{
            border: 1px rgb(92, 92, 92) solid;
        }
    }
}

.subscribe{
    width: 1200px;
    height: 383px;
    border-radius: 25px;
    background-image: url(../img/subscr_back.png);
    margin: auto;
    padding-top: 102px;
    text-align: center;

    span{
        display: block;
    }

    .subscribe__title-small{
        color: lightgray;
    }

    .subscribe__title-big{
        margin-top: 15px;
        color: #fff;
    }

    .subscribe__text{
        display: block;
        color: #fff;
        width: 500px;
        margin: 30px auto 110px;
        line-height: 23px;
    }

    .subscribe__form{
        position: relative;

        input{
            width: 432px;
            height: 50px;
            border-radius: 25px;
            border: none;
            margin-left: -69px;
            outline: none;
            padding-left: 20px;
        }

        input::placeholder{
            padding-left: 25px;
            color: lightgray;
            font-size: 15px;
        }

        input:focus::placeholder{
            visibility: hidden;
        }

        .subscribe__form-btn{
            width: 140px;
            height: 52px;
            position: absolute;
            top: 0px;
            left: 719px;
            color: #fff;
            border-radius: 25px;
            background-color: #5231FF;
            border: none;
            font-size: 13px;
        }

        .subscribe__form-btn:hover{
            @include btn_hover();
        }

        .subscribe__form-text{
            color: lightgray;
            padding-top: 15px;
            font-size: 13px;
        }
    }
}


.footer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 94px;
    padding-left: 120px;
}

.footer__navigation{
    display: flex;
    gap: 288px;
    margin-bottom: 31px;

    .footer__title{
        width: 283px;

        h4{
            margin-bottom: 33px;
        }
    
        .footer__title-text{
            @extend %text;
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 22px
        }

        svg:hover{
            border: transparent 1px solid;
        }
    }


    .footer_menu{

        display: flex;
        gap:144px;

        a{
            color: inherit;
            font-size: inherit;
        }

        a:hover{
            color: $purple;
        }

        .footer_menu-item{
            ul{
                display: flex;
                flex-direction: column;
                gap: 22px;
                margin-top: 0px;
                
                li{
                @extend %text;
                font-size: 13px;
                }
            }

            ul>li:first-of-type{
                font-size: 16px;
                margin-bottom: 5px;
            }
        }

        .footer_menu-item-btn{
            @extend %btn_link;
            text-align: center;
            align-content: center;
            width: 116px;
            height: 21px;
        }

        .footer_menu-item-btn:hover{
            @include btn_hover;
        }
    
        .footer_menu-item-btn:visited{
            color: #fff;
        }
    }
}

.footer__PS-text{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    .footer__PS-item{
    font-size: 13px;

        span:first-of-type{
            @extend %text;
            font-size: inherit;
        }
    }
}