body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: "Bitter", serif;
  margin: 0px;
  padding: 0px;
}
body a {
  text-decoration: none;
  color: black;
  display: block;
}
body a:visited {
  text-decoration: none;
  color: black;
}
body ul {
  list-style: none;
}

.active {
  color: #5231FF;
}

.wrapper {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
}
.header ul {
  display: flex;
  flex-direction: row;
  gap: 42px;
  padding-top: 28px;
}
.header li:hover > a {
  color: #5231FF;
}

.header__logotype-link {
  margin-left: 120px;
  margin-top: 20px;
}

.header__nav {
  margin-left: 418px;
  font-family: "Bitter", serif;
  font-size: 14px;
}

.facebookIcon {
  width: 36px;
  height: 36px;
}

.header__facebookIcon-link {
  margin-top: 31px;
  margin-left: 18px;
}
.header__facebookIcon-link svg:hover {
  border: transparent 1px solid;
}

.mainPortfolio__title {
  text-align: center;
  padding-top: 95px;
}

.title-small {
  font-size: 16px;
}

.title-big {
  font-size: 40px;
}

.mainPortfolio__title-big {
  margin-top: 10px;
  margin-bottom: 55px;
}

.mainPortfolio__cards {
  margin-left: 110px;
  display: grid;
  grid-template-columns: 610px 610px;
  grid-template-rows: repeat(6, auto);
}
.mainPortfolio__cards :nth-child(1) {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
}
.mainPortfolio__cards :nth-child(3) {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  align-items: center;
}
.mainPortfolio__cards :nth-child(4) {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  align-items: center;
}
.mainPortfolio__cards :nth-child(5) {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  align-items: center;
}
.mainPortfolio__cards .mainPortfolio__cards-item {
  text-align: center;
}
.mainPortfolio__cards .mainPortfolio__cards-item a {
  background-color: #5231FF;
  border-radius: 5px;
  border: none;
  font-size: 9px;
  width: 120px;
  height: 28px;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.mainPortfolio__cards .mainPortfolio__cards-item a:hover {
  background-color: #8179ee;
}
.mainPortfolio__cards .mainPortfolio__cards-img {
  display: flex;
  justify-content: center;
}
.mainPortfolio__cards .mainPortfolio__cards-img img {
  margin-top: 20px;
  margin-bottom: 36px;
}

.facts__title {
  text-align: center;
  padding-top: 150px;
}
.facts__title .facts__title-big {
  width: 550px;
  margin: 12px auto;
  line-height: 54px;
}

.facts__cards {
  display: flex;
  padding-top: 54px;
  justify-content: center;
  gap: 200px;
}
.facts__cards .facts__cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.facts__cards .facts__cards-item svg {
  margin-bottom: 20px;
}

.facts__line svg {
  margin-top: 87px;
  margin-left: 85px;
}

.explore {
  display: flex;
  gap: 128px;
}
.explore .explore__title {
  padding-top: 80px;
  padding-left: 121px;
}
.explore .explore__title h3 {
  margin-top: 20px;
  font-size: 25px;
}
.explore .explore__title .explore__text {
  display: block;
  margin-top: 27px;
  font-family: "Open Sans", sans-serif;
  width: 382px;
  font-size: 15px;
  line-height: 20px;
}
.explore .explore__title .explore-link {
  width: 151px;
  height: 50px;
  margin-top: 42px;
  border-radius: 25px;
  background-color: #5231FF;
  color: #fff;
  text-align: center;
  align-content: center;
  font-size: 12px;
}
.explore .explore__title .explore-link:hover {
  background-color: #8179ee;
}
.explore .explore__tags {
  display: grid;
  grid-template-columns: repeat(3, 219px);
  grid-template-rows: repeat(4, 55px);
  text-align: center;
  gap: 3px;
  padding-top: 74px;
  padding-bottom: 123px;
}
.explore .explore__tags .explore__tags-link {
  border: 1px lightgrey solid;
  border-radius: 8px;
  font-size: 14px;
  align-content: center;
}
.explore .explore__tags .explore__tags-link:hover {
  border: 1px rgb(92, 92, 92) solid;
}

.subscribe {
  width: 1200px;
  height: 383px;
  border-radius: 25px;
  background-image: url(../img/subscr_back.png);
  margin: auto;
  padding-top: 102px;
  text-align: center;
}
.subscribe span {
  display: block;
}
.subscribe .subscribe__title-small {
  color: lightgray;
}
.subscribe .subscribe__title-big {
  margin-top: 15px;
  color: #fff;
}
.subscribe .subscribe__text {
  display: block;
  color: #fff;
  width: 500px;
  margin: 30px auto 110px;
  line-height: 23px;
}
.subscribe .subscribe__form {
  position: relative;
}
.subscribe .subscribe__form input {
  width: 432px;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin-left: -69px;
  outline: none;
  padding-left: 20px;
}
.subscribe .subscribe__form input::placeholder {
  padding-left: 25px;
  color: lightgray;
  font-size: 15px;
}
.subscribe .subscribe__form input:focus::placeholder {
  visibility: hidden;
}
.subscribe .subscribe__form .subscribe__form-btn {
  width: 140px;
  height: 52px;
  position: absolute;
  top: 0px;
  left: 719px;
  color: #fff;
  border-radius: 25px;
  background-color: #5231FF;
  border: none;
  font-size: 13px;
}
.subscribe .subscribe__form .subscribe__form-btn:hover {
  background-color: #8179ee;
}
.subscribe .subscribe__form .subscribe__form-text {
  color: lightgray;
  padding-top: 15px;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
